.topbar {
    width: 100%;
    height: 72px;
    background: var(--topbar-background);
    box-shadow: var(--shadow-l1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 100px;
    padding-right: 100px;
    transition: transform 0.3s ease;

    @media (max-width: 1200px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }

    &.topbar--hidden {
        transform: translateY(-100%);
    }

    .topbar-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        width: 100%;
        gap: 2rem;
    }

    .topbar-left {
        display: flex;
        align-items: center;

        .site-meta {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.75rem;

            .site-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px; // Match or slightly less than .topbar height
                width: auto;
                text-decoration: none;
                padding-left: 10px;
                padding-top: 5px;

                .site-logo-img {
                    height: 100%;
                    width: auto;
                    max-height: 60px;
                    max-width: 100%;
                    object-fit: contain;
                    border-radius: 0;
                    display: block;
                }
            }

            .emoji {
                margin-left: -10px;
                font-size: 1.2em;
            }

            .site-name {
                font-weight: bold;
                font-size: 3rem;
                color: var(--accent-color);
            }

            .site-description {
                font-size: 1rem;
                color: var(--card-text-color-secondary);
            }

            .topbar-social {
                margin-left: 0.5rem;

                ol.menu-social {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .topbar-right {
        display: flex;
        align-items: top;
        gap: 1.5rem;

        .topbar-menu-wrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .hamburger {
                display: none;

                @media (max-width: 767px) {
                    display: inline-block;
                }
            }
        }

        .topbar-menu {
            ol.menu {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                list-style: none;
                margin: 0;
                padding: 0;
                align-items: center;

                @media (max-width: 767px) {
                    position: absolute;
                    top: 60px;
                    right: 0;
                    left: 0;
                    background: var(--card-background);
                    flex-direction: column;
                    gap: 0;
                    width: 100%;
                    box-shadow: var(--shadow-l2);
                    display: none;
                    z-index: 999;

                    &.show {
                        display: flex;
                    }
                }
            }

            li.current > a {
                font-weight: bold;
                color: var(--accent-color);
            }
        }

        .topbar-toggles {
            display: flex;
            gap: 1rem;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    #i18n-switch {
        color: var(--body-text-color);
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        select {
            border: 0;
            background-color: transparent;
            color: var(--body-text-color);

            option {
                color: var(--card-text-color-main);
                background-color: var(--card-background);
            }
        }
    }

    #dark-mode-toggle {
        color: var(--body-text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: none;
        border: none;
        margin: 0;
        cursor: pointer;

        .icon-tabler-toggle-right {
            display: none;
        }
    }
}

[data-scheme="dark"] {
    #dark-mode-toggle {
        color: var(--accent-color);
        font-weight: 700;

        .icon-tabler-toggle-left {
            display: none;
        }

        .icon-tabler-toggle-right {
            display: unset;
        }
    }
}
