{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    {{ $randomArticles := shuffle $filtered | first 5 }}
    <section class="random-articles-swiper">
        <div class="swiper article-list--tile">
            <div class="swiper-wrapper">
                {{ range $randomArticles }}
                    <div class="swiper-slide">
                        {{ partial "article-list/default" . }}
                    </div>
                {{ end }}
            </div>
            <!-- Swiper navigation -->
            <div class="swiper-prev">&#8592;</div>
            <div class="swiper-next">&#8594;</div>
        </div>
    </section>

    <section class="article-list article-list--grid">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}